
    img.header-desktop-logo-lottery {
        width: 112px;
        height: 76px;
    }

    img.header-desktop-logo-game {
        width: 415px;
        height: 60px;
    }

    ul.footer-ie-ul-fix {
        width: 100%;
        clear: both;
    }

    #popTicket {
        width: 250px;
    }
    #popEntry {
        width: 250px;
    }